@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@400;500;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* --- Body --- */

body {
    background-image: linear-gradient(to top, #39289F, #422F9C);
    background-attachment: fixed;
    font-family: 'Poppins',sans-serif;
}

/* --- Header --- */

header.sticky {
    background:  #422F9C;
    padding: 25px 100px;
    box-shadow: 0 35px 25px rgba(0, 0, 0, 0.081);
}

header.sticky .barra {
    position: absolute;
    top: 45px;
    right: 43%;
    transition: 0.5s;
}

.barra {
    position: absolute;
    top: 60px;
    right: 43%;
    transition: 0.5s;
}

/* --- Seção 1 --- */

#sec-1 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 150px 150px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.text-sec-1 {
    position: absolute;
}

.p-orange {
    font-weight: bold;
    font-size: 20px;
    color: #E87D0E;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.text-sec-1 h2 {
    width: 50%;
    line-height: 75px;
    font-weight: bold;
    font-size: 45px;
    margin-top: 20px;
}

.p-text  {
    width: 50%;
    line-height: 30px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 60px;
}


.button-sec-1 {
    width: 195px;
    height: 53px;
    padding: 8px 5px 8px 5px;
    border-radius: 80px;
    background-color: #FA9021;
    font-size: 16px;
    border: none;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0 3px 4px rgba(28, 20, 103, 0.686);
}

.button-sec-1:hover {
    background-color: #fa9121da;
}

.img-control {
    position: absolute;
	right: 55px;
	bottom: 10px;
}

.img-component {
    position: absolute;
	right: 255px;
	top: 150px;
}

/* --- Seção 2 --- */

#sec-2 {
    width: 100%;
    min-height: 100vh;
    padding: 132px 150px 67px;
    color: #FFFFFF;
}

.title-sec-2 {
    font-family: 'Rubik', sans-serif;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.button-sec-2 {
    border: none;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    background-color: #ffffff21;
    box-shadow: 0 3px 4px rgb(28, 20, 103);
    margin-bottom: 58px;
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
}

.button-sec-2:hover {
    background-color: #ffffff2d;
}

.title-sec-2 h3 {
    font-size: 31px;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    font-family: 'Rubik', sans-serif;
}

.des-card {
    position: relative;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 129px;
}

.des-card p {
    font-size: 22px;
    font-weight: medium;
    position: relative;
    left: 9px;
}

.text2-sec-2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.text2-sec-2 p {
    width: 60%;
    font-weight: 600;
    font-size: 35px;
    line-height: 60px;
}

/* --- Seção 3 --- */

#sec-3 {
    width: 100%;
    min-height: 100vh;
    padding: 0 150px 67px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 110px;
}

.title-sec-3 h2 {
    font-size: 32;
    font-weight: 600;
}

.title-sec-3 p {
    position: relative;
    top: 20px;
    font-size: 16px;
    width: 40%;
    line-height: 30px;
    margin-bottom: 80px;
}


.container-img-sec-3 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-img-sec-3 .img-man {
    width: 100%;
    position: relative;
}


.container-img1-sec-3 {
    position: absolute;
    top: 237%;
    right: 272px;
}

/* --- Seção 4 --- */

#sec-4 {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.832), rgba(0, 0, 0, 0.488)), url(../imgs/sec-4/fundo.png);
    background-position: center;
    padding: 132px 150px 67px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title-sec-4 {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.title-sec-4 h2 {
    font-size: 30;
    font-weight: bold;
    width: 50%;
    line-height: 50px;
    margin-bottom: 25px;
}

.title-sec-4 p {
    font-size: 16px;
    width: 70%;
    line-height: 30px;
    margin-bottom: 99px;
}

.container-group-sec-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 90%;
    gap: 100px;
}

.group-sec-4 {
    line-height: 50px;
}

/* --- Seção --- */

#sec-5 {
    width: 100%;
    min-height: 100vh;
    padding: 140px 150px 0 150px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-sec-5 {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.title-sec-5 h2 {
    font-size: 30;
    font-weight: bold;
    margin-bottom: 15px;
}

.title-sec-5 p {
    font-size: 14px;
    width: 90%;
    line-height: 30px;
    margin-bottom: 71px;
}

.container-imgs-sec-5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 37px 45px;
}

.container-imgs-sec-5 img{
    box-shadow: 0 3px 4px rgb(28, 20, 103);
    border-radius: 20px;
}

.button-sec-5 {
    border: none;
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    background-color: #ffffff21;
    box-shadow: 0 3px 4px rgb(28, 20, 103);
    margin-top: 72px;
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
}

.button-sec-5:hover {
    background-color: #ffffff2d;
}
